

.form {
  display: flex;
  margin: 150px auto;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  flex-direction: column;
  grid-gap: 10px;

  label {
    font-size: 15px;
  }

  input {
    width: 100%;
    outline: none;
    border-radius: 12px;
    background: #e3e3e3;
    border: 1px solid black;
    padding: 15px;
    font-size: 16px;
  }

  button {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
}